.profile-image {
    width: 60%;
    border-radius: 50%;
    border: 3px solid;
}

.stack-image {
    width: 100px;
    margin-right: 1rem;
}

@media (max-width: 768px) {
    .profile-image {
        width: 50%;
    }
}