<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Eric de Lima</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="@ericxlima">
        <meta name="description" content="Personal Portfolio - Eric de Lima - Programmer">
        <meta name="keywords" content="Eric de Lima">
        <link rel="stylesheet" href="../style/style.css">
        <link rel="icon" href="../img/icon.svg">
    </head>
    
    <body>
        <section class="left-box">
            
            <div class="content-profile">
                <img class='img-eric' src="https://avatars.githubusercontent.com/u/58092119?v=4" alt="Logo at CIN-UFPE">
                <h1>Eric de Lima</h1>
            </div>

            <nav class="menu-nav">
                <ul class="menu-list">
                    <li class='menu-button'><a href="../index.html">Welcome</a></li>
                    <li class='menu-button selected-button'><a href="interests.html">Interests</a></li>
                    <li class='menu-button'><a href="experience.html">Experience</a></li>
                    <li class='menu-button'><a href="academic.html">Academic</a></li>
                    <li class='menu-button'><a href="personal.html">Personal</a></li>
                </ul>
            </nav>
        </section>


        <section class="right-box">
            
            <header>
                <h2>Academic</h2>
            </header>
            
            <main class="content-main">
                <div class="content-main-academic">

                    <h3>2021👨‍💻</h3>
                    <p>First year at university. I complete the following courses:</p>
                    <ul>
                        <li>Introduction to Computing - <a href="https://www.cin.ufpe.br/~if668/#">IF668</a></li>
                        <li>Introduction to Programming - <a href="https://sites.google.com/a/cin.ufpe.br/if669/">IF669</a></li>
                    </ul>
                    <p>Where I could develop projects with <b>Machine Learning</b>, and <b>graphical interfaces</b>.</p>
                    <br>
                    <p>Outside the university, I study the use of <b>Flask, MySQL, Bootstrap</b> and <b>Jinja2</b>.</p>



                    <!--Pandemic :(-->
                    <h3>2020😷</h3>
                    <p>I am approved in the <b>Computer Science</b> course at the <b>Centro de Informática</b>, Federal University 
                        of Pernambuco. Because of the <b>COVID-19</b> pandemic, the course can only start in the following year</p>
                    <br>
                    <p>I spent the year focused on studying <b>Python</b> as my main language.</p>
                    <p>I could also study how to manage databases like <b>PostgreSQL, MySQL and SQLite</b>. 
                        I studied <b>math, logic for computation, algorithms, Vim</b> and <b>Linux</b>.</p>
                    <br>
                    <p>Also, I was able to fill my <b>Github</b> with some personal projects and train to run a half marathon 😁.</p>


                    <!--2019 Last Year for my Tec-->
                    <h3>2019👨‍🎓</h3>
                    <p>The school board appoints me as a <b>representative of the school</b>, where I can make important 
                        decisions and vote on various agendas. such as promoting a <b>cultural exchange trip</b> at other 
                        regional technical schools for all students, among other events.</p>
                    <p>I studied:</p>
                    <ul>
                        <li>Physical Means of Communication</li>
                        <li>Data Communication Structures</li>
                        <li>Computer Network Management</li>
                        <li>Structured Network Project</li>
                        <li>Entrepreneurship Project</li>
                    </ul>
                    <p>I developed LED <b>automation using IoT</b> during the Computer Networks Workshop to teach basic concepts of: 
                        Internet of Things, Arduino, VPN and Smart Homes for young audiences.</p>
                    <br>
                    <p>I merited the title of <b>Laureate Student</b> of the Computer Network Technician Course, reaching a <b>CRE</b> - 
                        School Performance Coefficient - of <b>9.1</b>.</p>
                    <br>
                    <p>I started studying <b>JavaScript, Logic for Computing, Git and Github</b>. I won a <b>medal</b> in the <b>athletics</b> 
                        school championship and presented <b>4 plays (theatre)</b></p>


                    <!--2018 Second Year for my Tec-->
                    <h3>2018🧑‍🏫</h3>
                    <p>I was chosen as the <b>protagonist of the school</b>, planning and carrying out some trips and 
                        meetings with the <b>GRE</b> - Regional Education Management - to <b>promote improvements</b> in the 
                        educational environment.</p>
                    <p>I studied:</p>
                    <ul>
                        <li>Operating System Administration 1 - Windows</li>
                        <li>Operating System Administration 2 - Linux</li>
                        <li>Micro and Small Business Management</li>
                        <li>Data and Information Security</li>
                        <li>Current Network Technologies</li>
                    </ul>
                    <p>I was <b>co-founder</b> of the <b>ETE News</b> project, which acted as the institution's 
                        communication advisor. Working mainly as a project <b>manager, technical support</b> and 
                        <b>recruiter</b>.</p>
                    <br>
                    <p>I received my <b>second honorable mention</b> from the Ministry of Science, Technology, 
                        Innovations and Communication for my performance in the <b>14th</b> Brazilian Public School 
                        Mathematics Olympiad - <b>OBMEP</b></p>
                    <br>
                    <p>I went back to studying <b>HTML</b> and <b>CSS</b> in order to create some <b>responsive websites</b>, 
                        and I did an <b>intermediate english</b> course. I won <b>third place</b> in the <b>double dominoes</b> school championship, and presented <b>2 plays (theatre</b>)</p>

                    
                    <!--2017 First Year for my Tec-->
                    <h3>2017👨</h3>
                    <p>I am approved first place in the <b>Technical</b> course in <b>Computer Networks</b> at the 
                        state technical school ETEAFS.</p>
                    <p>I studied:</p>
                    <ul>
                        <li>Assembly and Maintenance of Computers</li>
                        <li>Documentation and Data Integration</li>
                        <li>Network Concepts and Structures</li>
                        <li>Computer Elements</li>
                        <li>Entrepreneurship</li>
                    </ul>
                    <p>I was also chosen as <b>class president</b>. I reached <b>second place</b> in the school <b>chess</b> 
                        championship, and I presented <b>one play (theatre</b>).</p>


                    <!--2016 Last Year for my E.E-->
                    <h3>2016🧒</h3>
                    <p>I complete my <b>elementary education</b> in a public school, obtaining a <b>CRE</b> - School 
                        Performance Coefficient - <b>above 9.0</b>. In addition, I received my <b>first honorable 
                        mention</b> from the Ministry of Science, Technology, Innovations and Communication 
                        for my performance in the <b>12th</b> Brazilian Public School Mathematics Olympiad - <b>OBMEP</b>.</p>
                    <br>
                    <p>I started studying the fundamentals of <b>HTML</b> and <b>CSS</b> after completing a 120 hour <b>Web Designer</b> 
                        course, where I also met the <b>Gimp</b> and <b>Inkscape</b>.</p>


                </div>
            </main>
        </section>

    </body>
</html>
