<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Eric de Lima</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="@ericxlima">
        <meta name="description" content="Personal Portfolio - Eric de Lima - Programmer">
        <meta name="keywords" content="Eric de Lima">
        <link rel="stylesheet" href="../style/style.css">
        <link rel="icon" href="../img/icon.svg">
    </head>
    
    <body>
        <section class="left-box">
            
            <div class="content-profile">
                <img class='img-eric' src="https://avatars.githubusercontent.com/u/58092119?v=4" alt="Logo at CIN-UFPE">
                <h1>Eric de Lima</h1>
            </div>

            <nav class="menu-nav">
                <ul class="menu-list">
                    <li class='menu-button'><a href="../index.html">Welcome</a></li>
                    <li class='menu-button selected-button'><a href="interests.html">Interests</a></li>
                    <li class='menu-button'><a href="experience.html">Experience</a></li>
                    <li class='menu-button'><a href="academic.html">Academic</a></li>
                    <li class='menu-button'><a href="personal.html">Personal</a></li>
                </ul>
            </nav>
        </section>


        <section class="right-box">
            
            <header>
                <h2>Academic</h2>
            </header>
            
            <main class="content-main">
                <div class="content-main-academic">
                    
                    <h3>2018</h3>
                    <p>I complete my <b>elementary education</b> in a public school, obtaining a <b>CRE</b> - School 
                        Performance Coefficient - <b>above 9.0</b>. In addition, I received an <b>honorable 
                        mention</b> from the Ministry of Science, Technology, Innovations and Communication 
                        for my performance in the 14th Brazilian Public School Mathematics Olympiad - <b>OBMEP</b>.</p>
                    <br>
                    <p>I started studying the fundamentals of <b>HTML</b> and <b>CSS</b> after completing a 120 hour <b>Web Designer</b> 
                        course, where I also met the <b>Gimp</b> and <b>Inkscape</b>.</p>


                </div>
            </main>
        </section>

    </body>
</html>
