<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Eric de Lima</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="@ericxlima">
        <meta name="description" content="Personal Portfolio - Eric de Lima - Programmer">
        <meta name="keywords" content="Eric de Lima">
        <link rel="stylesheet" href="../style/style.css">
        <link rel="icon" href="../img/icon.svg">
    </head>
    
    <body>
        <section class="left-box">
            
            <div class="content-profile">
                <img class='img-eric' src="https://avatars.githubusercontent.com/u/58092119?v=4" alt="Logo at CIN-UFPE">
                <h1>Eric de Lima</h1>
            </div>

            <nav class="menu-nav">
                <ul class="menu-list">
                    <li class='menu-button'><a href="../index.html">Welcome</a></li>
                    <li class='menu-button'><a href="interests.html">Interests</a></li>
                    <li class='menu-button selected-button'><a href="experience.html">👉 Experience</a></li>
                    <li class='menu-button'><a href="academic.html">Academic</a></li>
                    <li class='menu-button'><a href="personal.html">Personal</a></li>
                </ul>
            </nav>
        </section>


        <section class="right-box">
            
            <header>
                <h2>Experience</h2>
            </header>
            
            <main class="content-main">
                <div class="content-main-experience">
                    
                    <h3>2021</h3>
                    <p>In 2021 I can have my first job as a <b>freelancer</b>. Using technologies such as <b>Python, 
                        Flask, MySQL, Jinja2 and Bootstrap</b>, I built a web application for the company 
                        <a href="https://www.instagram.com/coentrodosertao/" target="_blank"> Coentro do Sertão</a>, 
                        working with both FrontEnd and BackEnd</p>



                </div>
            </main>
        </section>

    </body>
</html>
