<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Eric de Lima</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="@ericxlima">
        <meta name="description" content="Personal Portfolio - Eric de Lima - Programmer">
        <meta name="keywords" content="Eric de Lima">
        <link rel="stylesheet" href="../style/style.css">
        <link rel="icon" href="../img/icon.svg">
    </head>
    
    <body>
        <section class="left-box">
            
            <div class="content-profile">
                <img class='img-eric' src="https://avatars.githubusercontent.com/u/58092119?v=4" alt="Logo at CIN-UFPE">
                <h1>Eric de Lima</h1>
            </div>

            <nav class="menu-nav">
                <ul class="menu-list">
                    <li class='menu-button'><a href="../index.html">Welcome</a></li>
                    <li class='menu-button selected-button'><a href="interests.html">Interests</a></li>
                    <li class='menu-button'><a href="experience.html">Experience</a></li>
                    <li class='menu-button'><a href="academic.html">Academic</a></li>
                    <li class='menu-button'><a href="personal.html">Personal</a></li>
                </ul>
            </nav>
        </section>


        <section class="right-box">
            
            <header>
                <h2>Interests</h2>
            </header>
            
            <main class="content-main">
                <div class="content-main-interests">
                    
                    <!--Image to add later-->

                    <h3>Machine Learning</h3>
                    <p>I develop with <a href="https://github.com/OnLeonidas">Michel</a> an application that uses Machine Learning capable of judging with 
                        precision if the gesture made with the hand is or not a vowel of the Brazilian Sign Language, through a webcam. <a href="https://github.com/ericxlima/Hand_Gestures_LIBRAS">Source</a></p>
                    <iframe width="550" height="310" src="https://www.youtube.com/embed/mJnmJwxQFNU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    
                    <h3>Game Development</h3>
                    <p>In group, I managed to develop an interactive game, capable of collecting and storing information, with collision and vector motion algorithms. <a href="https://github.com/ericxlima/Pandora_vs_UFPE">Source</a></p>
                    <iframe width="550" height="310" src="https://www.youtube.com/embed/49xgrird_ZY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    
                    <h3>Open Source Projects</h3>
                    
                    <ul>
                        <li>I developed a <a href="https://github.com/ericxlima/Matrix_Processor">Matrix processor</a> as part of training at the Jetbrains Academy</li>
                        <li><a href="https://github.com/ericxlima/ILoveCoffee">ILoveCoffee</a>, my first project developed. A compilation of several mini-games (Tic-Tac-Toe, Hangman and Rock paper scissors) with simple data storage system with json.</li>
                    
                    </ul>
                    <p>other projects are available at <a href="https://github.com/ericxlima">@ericxlima</a></p>



                </div>
            </main>
        </section>

    </body>
</html>
