<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Eric de Lima</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="@ericxlima">
        <meta name="description" content="Personal Portfolio - Eric de Lima - Programmer">
        <meta name="keywords" content="Eric de Lima">
        <link rel="stylesheet" href="../style/style.css">
        <link rel="icon" href="../img/icon.svg">
    </head>
    
    <body>
        <section class="left-box">
            
            <div class="content-profile">
                <img class='img-eric' src="https://avatars.githubusercontent.com/u/58092119?v=4" alt="Logo at CIN-UFPE">
                <h1>Eric de Lima</h1>
            </div>

            <nav class="menu-nav">
                <ul class="menu-list">
                    <li class='menu-button'><a href="../index.html">Welcome</a></li>
                    <li class='menu-button'><a href="interests.html">Interests</a></li>
                    <li class='menu-button'><a href="experience.html">Experience</a></li>
                    <li class='menu-button'><a href="academic.html">Academic</a></li>
                    <li class='menu-button selected-button'><a href="personal.html">👉 Personal</a></li>
                </ul>
            </nav>
        </section>


        <section class="right-box">
            
            <header>
                <h2>Personal</h2>
            </header>
            
            <main class="content-main">
                <div class="content-main-personal">
                
                <br>
                <p><b>In general👨‍🦱: </b>Coffee, pets, Music, Photography, Electronic Games, Computers, Running and Cycling.</p>
                
                <br>
                <p><b>Games🎮: </b>The Witcher, Mount & Blade Warband, Left 4 Dead 2, Portal 2, Half-Life, 
                    Tell Me Why, Stardew Valley, Undertale, Bully, Age of Empires, Skyrim, Last day of June, 
                    Journey, Halo, <a href="">list</a></p>
                
                    <br>
                <p><b>Music🎶: </b>(waiting for the creation of a <a href="">list</a> published on spotify)</p>
                
                <br>
                <p><b>Academic Books📚: </b><a href="">list</a></p>
                <ul>
                    <li>Logic: An Introduction Focused on Science (portuguese) - ISBN: 8577805379 </li>
                    <li>Discrete Mathematics: An open introduction - ISBN: 978-1792901690</li>
                    <li>Linear Algebra: Boldrini 3th (portuguese) - ISBN: 978-8529402024</li>
                    <li>Calculus: Early Transcendentals - ISBN: 978-0538497909</li>
                </ul>
                
                <br>
                <p><b>Other Books📓: </b>The Last Wish, The Fellowship of the Ring, <a href="">list</a></p>
                
                <br>
                <p><b>Series🎥: </b>Breaking Bad, Everybody Hates Cris, Prison Break, <a href="">list</a></p>
                
                <br>
                <p><b>Animations🐢: </b>Gravity Falls, Invincible, Total Drama Island, <a href="">list</a></p>
                
                <br>
                <p><b>Anime⛩: </b>Saint Seiya, One Punch man, Another, Spirited Away, <a href="">list</a></p>
                
                <br>
                <p><b>YouTube channels💻: </b>3Blue1Brown, Kurzgesagt, Domain of Science, Nautilus, Nerdologia, BRKsEdu, Pipocando, King Vader</p>
                
                <br>
                <p><b>Podcasts🎧: </b>Nerdcast, Sinapse</p>

                </div>
            </main>
        </section>

    </body>
</html>
